{% macro render_list_item(item, reverse_url, category, is_my_profile=True, not_visible_actions=[]) %}
  {% if not item.info.details or not item.info.details.image_large %}
    {% set image_url = "http://graph.facebook.com/%s/picture?type=large" % item.info.id %}
  {% elif item.info.details.image_large %}
    {% set image_url = item.info.details.image_large %}
  {% endif %}
  {% set item_url = reverse_url('item-info', category, item.info.id) %}

  <li id="list-item-{{ item.info.id }}" data-id="{{ item.info.id }}" data-relevance="{{ item.relevance }}">
    <div class="imgCont">
      <a class="b-imgCont__link item-info" href="{{ item_url }}"><img class="item-image" src="{{ image_url}}" alt="{{ item.info.name|escape }}"/></a>
    </div>
    <div class="infoCont b-iblock">
      <h3 class="b-iblock"><a class="item-info" href="{{ item_url }}">{{ item.info.name }}</a></h3>
      {% if 'hide' not in not_visible_actions and is_my_profile%}
        <form action="{{ reverse_url('item-hide') }}" method="post" accept-charset="utf-8">
          <input type="hidden" name="item_id" value="{{ item.info.id }}">
          <input type="hidden" name="item_{{ item.info.id}}_name" value="{{ item.info.name|escape }}">
          <input type="hidden" name="category" value="{{ category }}">
          <button class="invite ignore" type="submit" title="Not for me">×</button>
        </form>
      {% endif %}
      {# if it's not profile page of other user#}
      {% if is_my_profile %}
        <div class="like-dislike-hide">
          <!-- {{ item.relevance }} -->
          {% if 'like' not in not_visible_actions %}
            <form class="b-form-like" action="{{ reverse_url('item-like') }}" method="post" accept-charset="utf-8">
            <input type="hidden" name="item_id" value="{{ item.info.id }}">
            {% if item.info.details and item.info.details.link %}
              <input type="hidden" name="item_url" value="{{ item.info.details.link }}">
            {% endif %}
            <input type="hidden" name="category" value="{{ category }}">
            <input type="hidden" name="item_{{ item.info.id}}_name" value="{{ item.info.name|escape }}">
            <button class="b-button b-button-like b-iblock" type="submit"><i class="b-button-icon b-button-icon__like"></i><span>Like</span></button>
          </form>
          {% endif %}
          {% if 'dislike' not in not_visible_actions %}
            <form class="b-form-like" action="{{ reverse_url('item-dislike') }}" method="post" accept-charset="utf-8">
              <input type="hidden" name="item_id" value="{{ item.info.id }}">
              <input type="hidden" name="category" value="{{ category }}">
              <input type="hidden" name="item_{{ item.info.id}}_name" value="{{ item.info.name|escape }}">
              <button class="b-button b-button-like b-iblock" type="submit"><i class="b-button-icon b-button-icon__dislike"></i><span>Dislike</span></button>
            </form>
          {% endif %}
          {% if 'bookmark' not in not_visible_actions %}
            <form class="b-form-like" action="{{ reverse_url('item-bookmark') }}" method="post" accept-charset="utf-8">
              <input type="hidden" name="item_id" value="{{ item.info.id }}">
              <input type="hidden" name="category" value="{{ category }}">
              <input type="hidden" name="item_{{ item.info.id}}_name" value="{{ item.info.name|escape }}">
              <button class="b-button favor" type="submit"></button>
            </form>
          {% endif %}
        </div>        
      {% endif %}
      <!-- <ul class="b-tags__list">
        {% if item.info.details and item.info.details.tags %}
          {% for tag in item.info.details.tags|default([]) %}
            <li class="b-tags__item b-iblock">
              <a class="b-tags__link b-iblock" href="#">
                <span>{{ tag }}</span>
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul> -->
    </div>
  </li>
{% endmacro %}
