{% extends 'website/base.html' %}

{% block promo %}
  <div class="promo">
    <div class="blItem">
      <h1>Interest discoverer for Facebook users.<br/>Get instant recommendations now!</h1>
      <img class="promoImg" src="http://www.mixtent.com/img/leftpolaroid.png" alt="" /></a>
      <div class="iRight">
        <a href="{{ reverse_url('auth-facebook') }}"><span>Sign up <i>or</i> Log in</span></a>
        <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:none;  
overflow:hidden; width:325px; height:80px" src="http://www.facebook.com/plugins/facepile.php?app_id=304388219581160"></iframe>
      </div>
    </div>
  </div>
{% endblock promo %}

{% block content %}
  <ul class="clientList">
    <li class="first">As Seen On:</li>
    <li class="item1"><img src="{{ static_url('images/company/tc.png') }}" /></li>
    <li class="item2"><img src="{{ static_url('images/company/appbistro.png') }}" /></li>
    <li class="item3"><img src="{{ static_url('images/company/inc.png') }}" /></li>
    <li class="item4"><img src="{{ static_url('images/amnestyinternational-grey.gif') }}" /></li>
  </ul>
  <div class="placeBlock">
    <div class="placeBlockInner">
      <div class="blItem">

      <div class="blockFB">
      <iframe scrolling="no" frameborder="0" src="http://www.facebook.com/plugins/likebox.php?id=161296133911486&amp;width=292&amp;connections=10&amp;stream=false&amp;header=true&amp;height=300" style="border: medium none; overflow: hidden; width: 292px; height: 300px"></iframe>
      </div>
      <div class="blockServ">
        <h2>Get almost instant recommendations for Facebook users</h2>
        <ul class="">
          <li>
            <h3><a href="">Manage all of your projects in one place</a></h3>
            <p>
              No matter where you are, we have the tools to keep you up to date on your project.
            </p>
          </li>
          <li class="it2 toR">
            <h3><a href="">Get a quick overview on the dashboard.</a></h3>
            <p>Lighthouse even makes it easy to move several milestones at once in case you find you're not going to meet your deadlines.
            </p>
          </li>
          <li class="it3">
            <h3><a href="">Meet your milestones and deadlines.</a></h3>
            <p>Thanks to our robust API, there are already dozens of useful services that integrate with Lighthouse. 
            </p>
          </li>
          <li class="it4 toR">
            <h3><a href="">Get a quick overview on the dashboard.</a></h3>
            <p>Lighthouse even makes it easy to move several milestones at once in case you find you're not going to meet your deadlines.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
